<form action="/station/${_station.id}/addreading" method="POST">
    <div class="columns">
        <div class="field column">
            <label class="label">Code</label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select type="number" name="code">
                        <option>Select Code</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="600">600</option>
                        <option value="700">700</option>
                        <option value="800">800</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field column">
            <label class="label">Temperature</label>
            <div class="control">
                <input class="input" placeholder="Temperature" type="double" name="temperature">
            </div>
        </div>
        <div class="field column">
            <label class="label">WindSpeed</label>
            <div class="control">
                <input class="input" placeholder="WindSpeed" type="double" name="windSpeed">
            </div>
        </div>
        <div class="field column">
            <label class="label">WindDirection</label>
            <div class="control">
                <input class="input" placeholder="WindDirection" type="double" name="windDirection">
            </div>
        </div>
        <div class="field column">
            <label class="label">Pressure</label>
            <div class="control">
                <input class="input" placeholder="Pressure" type="number" name="pressure">
            </div>
        </div>
    </div>
    <div class="field mt-4">
        <div class="control">
            <button class="button is-info">Add Reading</button>
        </div>
    </div>
</form>