#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"admin"/}
<div class="content box">
  <h1 class="title">
    All Readings in the Database:
  </h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID </th>
      <th>TimeStamp </th>
      <th>Code</th>
      <th>Temperature</th>
      <th>WindSpeed</th>
      <th>WindDirection</th>
      <th>Pressure</th>
    </tr>
    </thead>
    <tbody>
    #{list items:readings, as:'reading'}
    <tr>
      <td>
        ${reading.id}
      </td>
      <td>
        ${reading.timeStamp}
      </td>
      <td>
        ${reading.code}
      </td>
      <td>
        ${reading.temperature}
      </td>
      <td>
        ${reading.windSpeed}
      </td>
      <td>
        ${reading.windDirection}
      </td>
      <td>
        ${reading.pressure}
      </td>
    </tr>
    #{/list}
    </tbody>
  </table>
</div>