#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<header class="title is-capitalized">
  ${member.firstname} ${member.lastname}'s Station List
</header>
#{list items:stations, as:'station'}
  #{if station.readings.size() > 0}
  <div class="tile is-ancestor has-background-info-light">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <span class="icon-text has-text-info">
        <span class="icon is-large fas fa-2x">
          <i class="fa-solid fa-location-dot"></i>
        </span>
        </span>
        <p class="title">${station.name}</p><br>
        <p class="subtitle">Lat: ${station.lat}<br>
          Lng: &{station.lng}</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <span class="icon-text has-text-dark">
        <span class="icon is-large fas fa-2x">
        <i class="fa-sharp fa-solid fa-calendar-days"></i>
        </span>
        </span>
        <p class="title">Date</p><br>
        <p class="subtitle">${station.getLatestTimestamp()}</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <span class="icon-text has-text-grey">
        <span class="icon is-large fas fa-2x">
        <i class='${station.getLatestWeatherCodeToIcon()}'></i>
        </span>
        </span>
        <p class="title">Weather</p><br>
        <p class="subtitle">${station.getLatestWeatherCodeToText()}</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <span class="icon-text has-text-info">
        <span class="icon is-large fas fa-2x">
        <i class='${station.checkTempTrend()}'></i>
        </span>
        </span>
        <p class="title">Temp</p><br>
        <p class="subtitle"> ${station.getLatestTemp()} C<br>
          ${station.getLatestConvertTemp()} F<br>
          Max: ${station.getMaxTemp()} C<br>
          Min: ${station.getMinTemp()} C<br>
        </p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <span class="icon-text has-text-warning">
        <span class="icon is-large fas fa-2x">
        <i class='${station.checkWindTrend()}'></i>
        </span>
        </span>
        <p class="title">Wind</p><br>
        <p class="subtitle">${station.getLatestBeaufortToText()}<br>
          Direction: ${station.getLatestWindDirectionToText()}<br>
          Feels like<br>
          ${station.getLatestWindChill()} C<br>
          Max : ${station.getMaxWind()}<br>
          Min : ${station.getMinWind()}<br>
        </p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <span class="icon-text has-text-dark">
        <span class="icon is-large fas fa-2x">
        <i class='${station.checkPressureTrend()}'></i>
        </span>
        </span>
        <p class="title">Pressure</p><br>
        <p class="subtitle">${station.getLatestPressure()} hPa<br>
        Max: ${station.getMaxPressure()} hPa<br>
        Min: ${station.getMinPressure()} hPa<br>
      </article>
    </div>
      <div>
        <a href="/station/${station.id}" class="icon has-text-primary">
          <i class="fas fa-folder"></i><span class="icon is-large fas fa-2x"></span>
        </a>
        <a href="/dashboard/${member.id}/deleteStation/${station.id}" class="icon has-text-danger">
          <i class="fas fa-trash"></i>
        </a>
      </div>
  </div>
  #{/if}
  #{else}
<div class="container">
  <a href="/station/${station.id}">
    <div class="tags has-addons is-centered my-5">
      <span class="tag has-background-danger is-medium is-uppercase has-text-weight-bold has-text-white m-0">Station: ${station.name}, Has no Readings Recorded</span>
      <span class="tag is-info is-medium has-text-weight-bold is-uppercase has-text-weight-bold  has-text-white m-0">Click to Add A Reading</span>
    </div>
  </a>
</div>
  #{/else}
#{/list}
#{addstation /}




