#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start"/}

<div class="content box">
    <div class="columns">
        <div class="column has-text-centered is-size-3">
            <br><br>
            Hi fellow Meteorological enthusiasts!!
            This is a small app for Irish National Meteorological members and enthusiasts to record readings
            from a weather station. This app will allow members to create, manage and share station readings.
            Simply enter the station name and its weather readings.
        </div>
        <div class="column">
            <figure class="image is-image is-1by1">
                <img src = "public/images/weatherstation.jpg">
            </figure>
        </div>
    </div>
</div>
