#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start"/}

<div class="content box">
    <p class="title">
        Welcome to Template 1
    </p>
    <div class="columns">
        <div class="column">
            A small app to let you compose playlists. This app will allow you to create,
            manage and share your playlists. Simple enter the playlist details one the dashboard.
        </div>
        <div class="column">
            <figure class="image is-image is-1by1">
                <img class="has-ratio" width="300" height="160" src="https://bulma.io/images/placeholders/256x256.png">
            </figure>
        </div>
    </div>
</div>
